<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Books and authors </title>
</head>
<body>
     <div class="container">
          <h2>{{ author.first_name }} {{ author.last_name }}</h2>
          <h2><b>ID</b> {{ author.id }}</h2>
          <h2><b>Notes</b>{{ author.notes }}</h2>
          <h2><b>BOOKS</b></h2>
          <ul>
               {% for book in author.books.all %}
               <li>{{ book.title }}</li>
               {% endfor %}
          </ul>
     </div>
</body>
</html>